/* Shorts.module.css */
.container {
     width: 100%;
     height: 100dvh;
     background: #000;
     position: relative;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     padding: 0;
     margin: 0;
}